/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    @apply scroll-smooth;
  }
}

 @layer utilities {
  @variants responsive { 
  
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

   
    .no-scrollbar {
      -ms-overflow-style: none;
       scrollbar-width: none; 
     }
   }
} 



.ant-tabs-nav-list{
  margin-top:'25px';
  margin-left:-1px;
  grid-area: 0px;
  width: 100vw;
  
}

.ant-tabs-tab {
  background-color: hwb(26 61% 33%) !important;
  width: fit-content;
  
  margin-left: 1px !important;
  display: flex;
  justify-content: center;

}

.ant-tabs-tab-btn{
  color: white;
  font-weight: bold;
  padding: 0px 8px;
 
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(241, 241, 8);
  text-shadow: 0 0 0.25px currentcolor;
  font-weight: bold;
  font-size: 16px;
  
}

.ant-tabs .ant-tabs-ink-bar{
  background: rgb(201, 128, 54);
}
.ant-tabs .ant-tabs-nav .ant-tabs-ink-bar {
  height: 5px;
}

.ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
 
  white-space: none;

}



.ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap{
  flex-direction: 5px;
}

.ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list {
  position: relative;
  display: flex;
  transition: opacity 0.3s;
  width: fit-content !important;
}



.ant-tabs-top >.ant-tabs-nav {
  margin: 0 ;
}


@media only screen and (max-width: 532px) {

  .ant-tabs-nav-list{

      /* padding-left:80px; */
      margin-right: 0;
      width: 100vw;
    
      
  }
  .ant-tabs-nav-list {
      /* margin-left: -1px; */
      grid-area: 0px;
      width:fit-content;
  }
}